body {
    text-align: center;
}

.color {
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
    width: 100px;
    height: 100px;
    display: inline-block
}

#pixel-board {
    display: flex;
    flex-wrap: wrap;
    /* display: flex;
    flex-wrap: wrap; referência de código gitHub https://github.com/tryber/sd-022-b-project-pixels-art/pull/141/commits/2fbba0f2a6a783c6fe286c0131506cdd42a8c08a */
    width: 240px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.pixel {
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.selected {

}
.black {
    background-color: black;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
#clear-board{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px;
}
.white {
    background-color:white
}